# Calculating Counter-Strike 2 Stats

Awpy can also help calculate basic Counter-Strike statistics, such as average damage per round (ADR), kill-assist-survival-trade (KAST%) or Rating. Be sure to set `ticks=True` (or leave it out, as it's the default behavior) when calculating stats.

In [ ]:
from awpy import Demo

# Demo: https://www.hltv.org/matches/2372746/spirit-vs-natus-vincere-blast-premier-spring-final-2024 (de_dust2, Map 2)
dem = Demo("spirit-vs-natus-vincere-m2-dust2.dem")
dem.parse()

### Average Damage per Round (ADR)

Average Damage per Round (ADR) is a common metric to evaluate Counter-Strike players. It is simply the total damage divided by the number of rounds. We can can calculate ADR in Awpy as follows:

In [2]:
from awpy.stats import adr

adr(dem)

         name            steamid  team_name  n_rounds   dmg         adr
0     Aleksib  76561198013243326        all        22  2132   96.909091
1         b1t  76561198246607476        all        22  1394   63.363636
2     chopper  76561198045898864        all        22  1108   50.363636
3        donk  76561198386265483        all        22  2547  115.772727
4          iM  76561198050250233        all        22  1257   57.136364
5          jL  76561198176878303        all        22  1785   81.136364
6      magixx  76561199063238565        all        22  1529   69.500000
7       sh1ro  76561198081484775        all        22  2145   97.500000
8   w0nderful  76561199063068840        all        22  1003   45.590909
9      zont1x  76561198995880877        all        22  1614   73.363636
10    Aleksib  76561198013243326         CT        10   572   57.200000
11        b1t  76561198246607476         CT        10   716   71.600000
12    chopper  76561198045898864         CT        12   650   54.166667
13       donk  76561198386265483         CT        12  1601  133.416667
14         iM  76561198050250233         CT        10   568   56.800000
15         jL  76561198176878303         CT        10   801   80.100000
16     magixx  76561199063238565         CT        12  1069   89.083333
17      sh1ro  76561198081484775         CT        12  1086   90.500000
18  w0nderful  76561199063068840         CT        10   432   43.200000
19     zont1x  76561198995880877         CT        12  1070   89.166667
20    Aleksib  76561198013243326  TERRORIST        12  1560  130.000000
21        b1t  76561198246607476  TERRORIST        12   678   56.500000
22    chopper  76561198045898864  TERRORIST        10   458   45.800000
23       donk  76561198386265483  TERRORIST        10   946   94.600000
24         iM  76561198050250233  TERRORIST        12   689   57.416667
25         jL  76561198176878303  TERRORIST        12   984   82.000000
26     magixx  76561199063238565  TERRORIST        10   460   46.000000
27      sh1ro  76561198081484775  TERRORIST        10  1059  105.900000
28  w0nderful  76561199063068840  TERRORIST        12   571   47.583333
29     zont1x  76561198995880877  TERRORIST        10   544   54.400000

ADR takes two optional arguments, `team_dmg` (default `False`), which removes team damage from the overall damage calculation, and `self_dmg` (default `True`), which removes any damage the player did to themselves. It is advised to leave these defaults as is in order to match most websites.

### Kill, Assist, Survival and Trade % (KAST%)
Another common Counter-Strike statistic is KAST%, or the % of rounds where a player achieves a kill, assist, survives or trades. We can calculate KAST% in Awpy as follows:

In [3]:
from awpy.stats import kast

kast(dem)

        name            steamid  team_name  kast_rounds  n_rounds       kast
0    Aleksib  76561198013243326        all           17        23  73.913043
1        b1t  76561198246607476        all           14        23  60.869565
2    chopper  76561198045898864        all           15        23  65.217391
3       donk  76561198386265483        all           19        23  82.608696
4         iM  76561198050250233        all           14        23  60.869565
5         jL  76561198176878303        all           15        23  65.217391
6     magixx  76561199063238565        all           20        23  86.956522
7      sh1ro  76561198081484775        all           18        23  78.260870
8  w0nderful  76561199063068840        all           19        23  82.608696
9     zont1x  76561198995880877        all           18        23  78.260870
0    Aleksib  76561198013243326         CT            5        10  50.000000
1        b1t  76561198246607476         CT            4        10  40.000000
2    chopper  76561198045898864         CT            7        13  53.846154
3       donk  76561198386265483         CT           10        13  76.923077
4         iM  76561198050250233         CT            4        10  40.000000
5         jL  76561198176878303         CT            3        10  30.000000
6     magixx  76561199063238565         CT           10        13  76.923077
7      sh1ro  76561198081484775         CT            8        13  61.538462
8  w0nderful  76561199063068840         CT            6        10  60.000000
9     zont1x  76561198995880877         CT            9        13  69.230769
0    Aleksib  76561198013243326  TERRORIST           10        13  76.923077
1        b1t  76561198246607476  TERRORIST            8        13  61.538462
2    chopper  76561198045898864  TERRORIST            5        10  50.000000
3       donk  76561198386265483  TERRORIST            8        10  80.000000
4         iM  76561198050250233  TERRORIST            8        13  61.538462
5         jL  76561198176878303  TERRORIST            8        13  61.538462
6     magixx  76561199063238565  TERRORIST            6        10  60.000000
7      sh1ro  76561198081484775  TERRORIST            7        10  70.000000
8  w0nderful  76561199063068840  TERRORIST           10        13  76.923077
9     zont1x  76561198995880877  TERRORIST            6        10  60.000000

KAST takes one argument, `trade_ticks`, which specifies the length of a trade time in ticks. The default is 128 ticks x 5 seconds.

### Rating

HLTV developed Rating and [Rating 2.0](https://www.hltv.org/news/20695/introducing-rating-20), which are well-described [here](https://www.youtube.com/watch?v=4rs1E4eKZcg) and an example is reverse-engineered [here](https://flashed.gg/posts/reverse-engineering-hltv-rating/). We provide a rating-esque statistic in `awpy.stats.rating`. You can calculate rating in Awpy as follows:

In [4]:
from awpy.stats import rating

rating(dem)

         name            steamid  team_name  n_rounds    impact    rating
0     Aleksib  76561198013243326         CT        10  0.313000  0.462394
1     Aleksib  76561198013243326  TERRORIST        12  2.855000  1.952419
2         b1t  76561198246607476         CT        10  0.739000  0.661631
3         b1t  76561198246607476  TERRORIST        12  0.722500  0.665649
4     chopper  76561198045898864         CT        12  0.370000  0.444083
5     chopper  76561198045898864  TERRORIST        10  0.568000  0.682180
6        donk  76561198386265483         CT        12  2.215000  1.647436
7        donk  76561198386265483  TERRORIST        10  1.378000  1.339822
8          iM  76561198050250233         CT        10  0.781000  0.677523
9          iM  76561198050250233  TERRORIST        12  0.332500  0.427408
10         jL  76561198176878303         CT        10  1.294000  0.961787
11         jL  76561198176878303  TERRORIST        12  1.542500  1.121303
12     magixx  76561199063238565         CT        12  1.220000  1.223231
13     magixx  76561199063238565  TERRORIST        10  0.526000  0.799147
14      sh1ro  76561198081484775         CT        12  1.717500  1.323238
15      sh1ro  76561198081484775  TERRORIST        10  1.933000  1.595648
16  w0nderful  76561199063068840         CT        10  0.655000  0.803406
17  w0nderful  76561199063068840  TERRORIST        12  0.370000  0.635886
18     zont1x  76561198995880877         CT        12  2.110000  1.602410
19     zont1x  76561198995880877  TERRORIST        10  0.397000  0.599648
20    Aleksib  76561198013243326        all        22  1.699545  1.342497
21        b1t  76561198246607476        all        22  0.730000  0.730408
22    chopper  76561198045898864        all        22  0.460000  0.648081
23       donk  76561198386265483        all        22  1.834545  1.538907
24         iM  76561198050250233        all        22  0.536364  0.607682
25         jL  76561198176878303        all        22  1.429545  1.180302
26     magixx  76561199063238565        all        22  0.904545  1.159864
27      sh1ro  76561198081484775        all        22  1.815455  1.541057
28  w0nderful  76561199063068840        all        22  0.499545  0.809690
29     zont1x  76561198995880877        all        22  1.331364  1.243158